body {
    margin-top: -5px;
    padding: 0;
    width: 100%;
}
header {
    width: 100%;
}

.logo {
    line-height: 20px;
    position: fixed;
    float: left;
    margin: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}
.disquera { 
    font-family: 'Pacifico', cursive;
    color: white;
}
    .disquera:hover {
        text-decoration: none;
        color: aquamarine;
    }
.Link {
    font-family: 'Pacifico', cursive;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color:white;
}
    .Link:hover {
        text-decoration: none;
        color: aquamarine;
    }

nav {
    position: fixed;
    width: 100%;
    line-height: 20px;
    z-index: 1000;
    background: black;
}

    nav ul {
        line-height: 30px;
        list-style: none;
        background: rgba(0, 0, 0, 0);
        overflow: hidden;
        color: #fff;
        padding: 0;
        text-align: right;
        margin: 0;
        padding-right: 40px;
        transition: 1s;
    }

    nav.black ul {
        background: #5F698D;
    }

    nav ul li {
        display: inline-block;
        padding: 16px 40px;
    
    }

       

.menu-icon {
    line-height: 40px;
    width: 100%;
    background: #5F698D;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
    border-bottom: 3px solid red;
}
.footer-distributed {
    background: url('../Img/footer.png');
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
    margin-top: 80px;
}

    .footer-distributed .footer-left p {
        color: #8f9296;
        font-size: 14px;
        margin: 0;
    }

    /* Footer links */

    .footer-distributed p.footer-links {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
    }

        .footer-distributed p.footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-right {
        float: right;
        margin-top: 6px;
        max-width: 180px;
    }

        .footer-distributed .footer-right a {
            display: inline-block;
            width: 35px;
            height: 35px;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-left: 3px;
        }

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}
@media(max-width: 1250px) {

    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #5F698D;
       
    }

    nav.black ul {
        background: #5F698D;

      
    }

    .showing {
        max-height: 34em;
       
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
        
    }

    .menu-icon {
        display: block;
        overflow: hidden;
        opacity: 0.5;
    }
}
