@{
    ViewBag.Title = "Actualizar";
    var ListaEventos = ViewBag.ListaEventos;
}


<h2>Actualizar</h2>


<hr />


<form action="@Url.Action("Actualizar")" method="post">


    <input type="text" name="Fecha" placeholder="Escribe la Fecha" class="form-control" />
    <br />
    <input type="text" name="Artista" placeholder="Escribe el Artista" class="form-control" />
    <br />
    <input type="text" name="Lugar" placeholder="Escribe el lugar" class="form-control" />
    <br />
    <input type="text" name="Direccion" placeholder="Escribe la direccion" class="form-control" />
    <br />

    <input class="btn btn-success" type="submit" value="Actualizar" />

</form>



<a href="@Url.Action("Index")">Cancelar</a>



