
@{
    ViewBag.Title = "EliminarNews";
}

<h2>EliminarNews</h2>

<form action="@Url.Action("EliminarNews")" method="post">




    <input class="btn btn-success" type="submit" value="EliminarNews" />


</form>



<a href="@Url.Action("Noticias")">Cancelar</a>