@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/CSS/ubicacion.css")
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 500px;
        width: 100%;
    }
</style>
<div style="padding-top:75px; z-index: -100; ">

    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=10jZ5pUY4xfeYPSHAK_Ciq9fOQj1eXN0P" style="height: 500px;
        width: 100%;"></iframe>
    
</div>









<footer class="footer-distributed">
    <div class="footer-right">
        <a href="#" style="border-radius:35%;"><i class="fab fa-facebook-square"></i></a>
        <a href="#" style="border-radius:35%;"><i class="fab fa-twitter-square"></i></a>
        <a href="#" style="border-radius:35%;"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-google-plus"></i></a>
    </div>
    <div class="footer-left">
        <img src="~/Content/Img/logooficial.gif" style="height:55px; width:55px;" />
        <p style="color:white;">
            © Copyright 2018 CJ Music Group. All rights reserved.
        </p>
    </div>
</footer>
